<div class="modular-row footer ">
    <div class="footer-items">
        <div class="footer-module large">
            <div class="logo">
                <h3><a href="/">9 Planets</a></h3>
                <ul class="social-icons">
                </ul>

            </div>
            <p>
                <span>Консультации специалиста по индийской и классической астрологии.</span>
                <span>+7 (926) 050 0785</span>
                <span> omkarnath@9planets.ru </span>
            </p>
        </div>

        <div class="footer-module">
            <h4>Быстрый переход</h4>
            <ul class="quickmenu">
                <li><i class="fa fa-chevron-right"></i><a href="/services">Услуги</a></li>
                <li><i class="fa fa-chevron-right"></i><a href="/blog">Блог</a></li>
                <li><i class="fa fa-chevron-right"></i><a href="/reviews">Отзывы</a></li>
            </ul>
        </div>

        <div class="footer-module">
            <h4>Наши друзья</h4>
            <ul class="quickmenu">
                <li><i class="fa fa-chevron-right"></i><a href="http://www.nathas.org">Традиция Натхов</a></li>
                <li><i class="fa fa-chevron-right"></i><a href="http://www.om-center.ru">Центр «Омкара»</a></li>
                <li><i class="fa fa-chevron-right"></i><a href="http://www.5anga.info">Панчанга</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="footer-modules">
        <div class="footer-copyright">
            © Омкарнатх, 2022
        </div>
        <div class="footer-menu">
            <ul class="othermenu">
                <li><a href="/offer">Оферта</a></li>
            </ul>
        </div>
    </div>
</div>