<ul class="navigation">
    {% set navigation_sections = ['', 'about/', 'services/', 'reviews/', 'blog/', 'contact/', 'gallery/'] %}

    {% for nav_item in navigation_sections -%}
        {% set nav_section = get_section(path=nav_item ~ '_index.md') -%}
        {% if nav_section.path == '/' -%}
            {% set is_active = current_path == nav_section.path -%}
        {% else -%}
            {% set is_active = current_path is starting_with(nav_section.path) -%}
        {% endif -%}
    <li {% if is_active %} class="active" {% endif %}>
        <a href="{{nav_section.path | safe}}">
            {{nav_section.title}}
        </a>
    </li> 
    {% endfor -%}
</ul>

