// Modular Showcase styling
.modular {
    .features {
        padding: 0rem 0;
        padding-bottom: 0rem;
        text-align: center;
        @include clearfix;

        h2 {
            margin: 0;
            line-height: 100%;
            color: $light-gray;
        }

        h6 {
          text-transform: uppercase;
          font-size: 1rem;
          //margin: $leading-margin/3 0;
        }

        hr {
            margin-top: 0.5rem;
        }

        p {
            margin: 1rem 0;

            @include breakpoint(mobile-only) {
                font-size: $core-font-size;
            }
        }

        .button {
            background-color: $core-accent;
            color: $header-text;
            font-family: $font-family-header;
            border-radius: $border-radius;
            box-shadow: none;
            font-size: $core-font-size;
        }

        .feature-items {
            margin-top: 0rem;
            @supports not (flex-wrap: wrap) {
                overflow: hidden;
            }
        }

        .feature {
            display:block;
            position: relative;
            float: left;
            width: 25%;
            vertical-align: top;
            margin-top: 0rem;
            margin-bottom: 0rem;
            @include breakpoint(large-mobile-range) {
                margin-top: 1rem;
                width: 50%;
            }
            @include breakpoint(small-mobile-range) {
                margin-top: 1rem;
                width: 100%;
            }

            i.fa {
                font-size: 2rem;
            }

            h4 {
                margin: 0;
                font-size: 1.1rem;
            }

            p {
                display: inline-block;
                font-size: $core-font-size;
                //margin: 0.2rem 0 1rem;
                margin: 0;
                margin-top: 0.5rem;
            }


        }

        .feature-more-link {
          //@extend %button;
          //@include button-color($core-accent);
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          //color: $white;
          background-color: rgb(249, 249, 249);
          //background-clip: content-box;
          padding-bottom: 1rem;
        }

        &.big {
            text-align: center;
            .feature {
                width: 30.5%;
                @include breakpoint(small-mobile-range) {
                    margin-top: 1rem;
                    width: 100%;
                }

                margin: 1%;

                padding-bottom: 1rem;
                background-color: rgb(249, 249, 249);
                background-clip: content-box;

                border: 1px solid $core-accent;
            }

            .feature-first {
              margin-left: 2%;
              margin-right: 1%;
            }

            .feature-last {
              margin-left: 1%;
              margin-right: 2%;
            }

            i.fa {
                font-size: 4.5rem;
                margin-bottom: 1.5rem;

            }

            .feature-content {
                padding: 1rem;
                margin-bottom: 1rem;

                &.icon-offset {
                    margin-left: 1rem;
                }

                h4 {
                    font-size: 1.2rem;
                }

                p {
                    padding: 0;
                }

                p.feature-text {
                      padding: 0;
                      margin: 0;
                      text-align: center;
                      color: darken($core-text, 20%);
                      //border-top: thick double $core-accent;
                }
            }
        }

    }

}
